@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "openSans";
  src: url("/fonts/OpenSans-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "semiBold";
  src: url("/fonts/OpenSans-SemiBold.woff2") format('woff2');
}

@font-face {
  font-family: "openSansBold";
  src: url("/fonts/OpenSans-Bold.woff2") format('woff2');
}
